*.pyc
branch_names.txt
delete_branch_local_and_remote.sh
jonathan_testing.py
optimizationAndPrediction/.optimize.py.swp
optimizationAndPrediction/optimize
print_stats.py
profile.txt
tags
timing/
tmp

